In [2]:
import pandas as pd
import json

# JSON fornecido
json_data = '''{
  "guestChecks": [
    {
      "guestCheckId": 1122334455,
      "chkNum": 1234,
      "opnBusDt": "2024-01-01",
      "opnUTC": "2024-01-01T09:09:09",
      "opnLcl": "2024-01-01T06:09:09",
      "clsdBusDt": "2024-01-01",
      "clsdUTC": "2024-01-01T12:12:12",
      "clsdLcl": "2024-01-01T09:12:12",
      "lastTransUTC": "2024-01-01T12:12:12",
      "lastTransLcl": "2024-01-01T09:12:12",
      "lastUpdatedUTC": "2024-01-01T13:13:13",
      "lastUpdatedLcl": "2024-01-01T10:13:13",
      "clsdFlag": true,
      "gstCnt": 1,
      "subTtl": 109.9,
      "nonTxblSlsTtl": null,
      "chkTtl": 109.9,
      "dscTtl": -10,
      "payTtl": 109.9,
      "balDueTtl": null,
      "rvcNum": 101,
      "otNum": 1,
      "ocNum": null,
      "tblNum": 1,
      "tblName": "90",
      "empNum": 55555,
      "numSrvcRd": 3,
      "numChkPrntd": 2,
      "taxes": [
        {
          "taxNum": 28,
          "txblSlsTtl": 119.9,
          "taxCollTtl": 20.81,
          "taxRate": 21,
          "type": 3
        }
      ],
      "detailLines": [
        {
          "guestCheckLineItemId": 9988776655,
          "rvcNum": 123,
          "dtlOtNum": 1,
          "dtlOcNum": null,
          "lineNum": 1,
          "dtlId": 1,
          "detailUTC": "2024-01-01T09:09:09",
          "detailLcl": "2024-01-01T06:09:09",
          "lastUpdateUTC": "2024-11-01T10:10:10",
          "lastUpdateLcl": "2024-01-01T07:10:10",
          "busDt": "2024-01-01",
          "wsNum": 7,
          "dspTtl": 119.9,
          "dspQty": 1,
          "aggTtl": 119.9,
          "aggQty": 1,
          "chkEmpId": 10454318,
          "chkEmpNum": 81001,
          "svcRndNum": 1,
          "seatNum": 1,
          "menuItem": {
            "miNum": 6042,
            "modFlag": false,
            "inclTax": 20.809091,
            "activeTaxes": "28",
            "prcLvl": 3
          }
        }
      ]
    }
  ]
}'''

# Carregar JSON
data = json.loads(json_data)

# Criar DataFrame para GuestCheck
guest_checks = pd.json_normalize(data['guestChecks'])
print("GuestCheck DataFrame:")
display (guest_checks)

# Criar DataFrame para Taxes
taxes = pd.json_normalize(data['guestChecks'], 'taxes', ['guestCheckId'])
print("\nTaxes DataFrame:")
display (taxes)

# Criar DataFrame para DetailLines
detail_lines = pd.json_normalize(data['guestChecks'], 'detailLines', ['guestCheckId'])
print("\nDetailLines DataFrame:")
display (detail_lines)


# Extrair MenuItem de DetailLines
menu_items_list = []
for detail in data['guestChecks'][0]['detailLines']:
    menu_item = detail.pop('menuItem')
    menu_item['guestCheckId'] = data['guestChecks'][0]['guestCheckId']
    menu_item['guestCheckLineItemId'] = detail['guestCheckLineItemId']
    menu_items_list.append(menu_item)


# Criar DataFrame para MenuItem
menu_items = pd.DataFrame(menu_items_list)
print("\nMenuItem DataFrame:")
display (menu_items)

GuestCheck DataFrame:

,guestCheckId,chkNum,opnBusDt,opnUTC,opnLcl,clsdBusDt,clsdUTC,clsdLcl,lastTransUTC,lastTransLcl,...,rvcNum,otNum,ocNum,tblNum,tblName,empNum,numSrvcRd,numChkPrntd,taxes,detailLines
0,1122334455,1234,2024-01-01,2024-01-01T09:09:09,2024-01-01T06:09:09,2024-01-01,2024-01-01T12:12:12,2024-01-01T09:12:12,2024-01-01T12:12:12,2024-01-01T09:12:12,...,101,1,None,1,90,55555,3,2,"[{'taxNum': 28, 'txblSlsTtl': 119.9, 'taxCollT...","[{'guestCheckLineItemId': 9988776655, 'rvcNum'..."

Taxes DataFrame:

   taxNum  txblSlsTtl  taxCollTtl  taxRate  type guestCheckId
0      28       119.9       20.81       21     3   1122334455

DetailLines DataFrame:

,guestCheckLineItemId,rvcNum,dtlOtNum,dtlOcNum,lineNum,dtlId,detailUTC,detailLcl,lastUpdateUTC,lastUpdateLcl,...,chkEmpId,chkEmpNum,svcRndNum,seatNum,menuItem.miNum,menuItem.modFlag,menuItem.inclTax,menuItem.activeTaxes,menuItem.prcLvl,guestCheckId
0,9988776655,123,1,None,1,1,2024-01-01T09:09:09,2024-01-01T06:09:09,2024-11-01T10:10:10,2024-01-01T07:10:10,...,10454318,81001,1,1,6042,False,20.809091,28,3,1122334455

MenuItem DataFrame:

,miNum,modFlag,inclTax,activeTaxes,prcLvl,guestCheckId,guestCheckLineItemId
0,6042,False,20.809091,28,3,1122334455,9988776655